<h1>Welcome to {{hotelName}}</h1>
<!-- Property Binding-->
<div [hidden]="hideRooms">
  Number of Rooms:
  <div [ngStyle]="{'color': rooms.availableRooms ? 'blue' : 'red'}" [innerText]="numberOfRooms"></div>
  <!-- same as document.getElementBtId('numberBtRooms').innerText = numberOfRooms -->
</div>

{{ rooms?.availableRooms ?? 'No Rooms' }}

<div *ngIf="rooms?.availableRooms != undefined && rooms.availableRooms > 0">
  Rooms List:
  <!-- {{ roomList }} -->
  <table>
    <tr>
      <th>idx</th>
      <th>Even/Odd</th>
      <th>Room Number</th>
      <th>Room Type</th>
      <th>Room Price</th>
      <th>Room Amenities</th>
      <th>Check-in Time</th>
    </tr>
    <tr [ngClass]="e ? 'even' : 'odd'" *ngFor="let room of roomList; let e = even; let o = odd let i = index">
      <!-- loops each object -->
      <td>{{ i }}</td>
      <td>{{e ? "Even" : "Odd"}}</td>
      <td>{{ room.roomNumber }}</td>
      <td>{{ room.roomType }}</td>
      <td>{{ room.price }}</td>
      <td>{{ room.amenities }}</td>
      <td>{{ room.checkinTime | date }}</td>
    </tr>
  </table>
</div>

<button (click)="toggle()">Toggle</button>