<hinv-header></hinv-header>
<hinv-header></hinv-header>
<hinv-header></hinv-header>
<!-- <h1>Welcome to {{hotelName}}</h1> -->
<!-- Property Binding-->
<div [hidden]="hideRooms">
  Number of Rooms:
  <div [ngStyle]="{'color': rooms.availableRooms ? 'blue' : 'red'}" [innerText]="numberOfRooms"></div>
  <!-- same as document.getElementBtId('numberBtRooms').innerText = numberOfRooms -->
</div>

{{ rooms?.availableRooms ?? 'No Rooms' }}

<div *ngIf="selectedRoom">
  {{ selectedRoom | json }}
</div>

<div>
  <button (click)="addRoom()">Add Room</button>
</div>

<div *ngIf="hideRooms">
  <!-- $event => event recieved from child component -->
  <hinv-rooms-list [rooms]=" roomList" [title]="title" (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
</div>

<button (click)="toggle()">Toggle</button>